<nav>
    <li><a href="/api/cinema">Főoldal</a></li>
    <li><a href="/api/cinema/filmek">Filmek</a></li>
    <li><a href="/api/cinema/ujfilm">Új film felvétele</a></li>
    <li><a href="/api/cinema/Sorozatok">Sorozatok</a></li>
    <li><a href="/api/cinema/foglalasok">Foglalások</a></li>
</nav>
