/* Egyedi.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.egyedi {
  position: relative;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
}

.egyedi-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Háttérként */
}

.film-info {
  text-align: center;
  margin-top: 100px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7); /* Átlátszó háttér a szöveghez */
  border-radius: 10px;
}

.film-title {
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
}

hr {
  border: 1px solid #fff;
  width: 50%;
  margin: 10px auto;
}

.film-poster {
  width: 300px; /* Kép szélessége */
  height: auto; /* Magasság automatikus */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

.film-description {
  max-width: 800px; /* Maximális szélesség a leírásnak */
  text-align: center;
  padding: 0 20px;
  font-size: 1.2rem;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.7); /* Átlátszó háttér a leíráshoz */
  border-radius: 10px;
  margin-bottom: 20px;
}