.home-container {
    background-image: url('./images/deadpool.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
}

.home-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home-main-container h1 {
    color: #66fcf1;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px black;
    letter-spacing: -0.05em;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
        'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    user-select: none;
    text-transform: uppercase;
    font-size: 50px;
    transition: all 0.25s ease-out;
    font-weight: 500;
}
