.navbar-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    top: 0px;
    width: 100%;
    text-shadow:
    1.5px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000;
}

.login-regisztracio {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.login-regisztracio a {
    color: white;
    text-decoration: none;
}

.filmek-sorozatok {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.filmek-sorozatok a {
    color: white;
    text-decoration: none;
    text-shadow:
    1.5px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000;
}

.logo-img {
    width: 60px;
}

.active {
    color: red;
    font-size: 3em;
}
