.search-bar {
    width: 40%;
    max-width: 400px;
    background: rgb(52, 52, 55);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 2px 20px;
    /* backdrop-filter: blur(1px) saturate(180%); */
  }
  
 .container{
  width: 100%;
  min-height: 100%;
  padding: 5%;
  /* background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9));  */
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .search-bar input{
  background: local;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #ffffff;
 }
 .search-bar button img{
  width: 25px;
 }
 .search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #ff0a0a;
  cursor: pointer;
 }