/* Keresősáv stílusai */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
}

form {
  display: flex;
  align-items: center;
  position: relative;
}

input[type="search"] {
  border: 2px solid rgba(255, 255, 255, 0.6); /* Átlátszó keret */
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2); /* Átlátszó háttér */
  color: white;
  width: 300px;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="search"]:focus {
  border-color: #000000;
  background-color: rgba(255, 255, 255, 0.4); /* Fókusz állapotban világosabb átlátszóság */
}

input[type="search"]::placeholder {
  color: rgba(255, 255, 255, 0.6); /* A "Keresés" szöveg színe */
  font-style: italic;
}

/* Ha szükséges, gomb stílus (de most nincs használva) */
button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgba(41, 4, 250, 0.1);
}
