body {
    text-shadow: 1.5px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000,
        1px 1px 0 #000;
}

.sorozat-home-container {
    background-image: url('/images/brakingbad.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 100px;
    width: 99vw;
    transition: background-image 0.5s ease-in-out;
}

/* .filmek-home-container {
    background-color: #141414;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-image: url('/images/deadpool.jpg');
    transition: background-image 0.5s ease-in-out;
  }
   */