body {
    background-image: url('../../assets/images/netflixszin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
}

h1 {
}

img {
    width: 100px;
}
