.filmek-container {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 100px auto;
    height: min(100vh);

}

img {
    width: 200px;
}
