body {
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    gap: 3em;
    background-color: #212529;
    height: 90px;
    margin: 0px;
    padding-left: 10%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo-img {
    width: 80px;
}

input {
    font-size: 1.5em;
    padding: 3px;
    width: 400px;
}

a {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
        'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    text-decoration: none;
    color: #9b9d9e;
}
