.home-container {
    /* position: fixed; */
    background-attachment: fixed;
    background-color: rgb(7, 30, 82);
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
    margin: 0px;
    width: 100%;
    /* top: 0px; */
}

h1 {
    color: #66FCF1;
    text-align: center;
    padding-top: 20px;
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px black;
    letter-spacing: -0.05em;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
        'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    user-select: none;
    text-transform: uppercase;  
    font-size: 50px;
    transition: all 0.25s ease-out;
    font-weight: 500;
}
