@import url('../public/css/Adatok.css');
@import url('../public/css/Navbar.css');
@import url('../public/css/Filmek.css');
@import url('../public/css/Sorozatok.css');
@import url('../public/css/Home.css');
@import url('../public/css/Login.css');
@import url('../public/css/Register.css');
@import url('../public/css/Imagesslider.css');
@import url('../public/css/Egyedi.css');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: 'Fredoka', sans-serif;
        margin: 0;
        padding: 0;
        /* height: 200vh; */
        overflow-y: scroll; /* Görgetés engedélyezése */
}
